/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

.body2 {
  position: relative; /* Add this */
  background-color: rgb(28, 23, 23);
  background-position: center;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  color: white;
  padding-bottom: 100px; /* Extra space for footer */
  z-index: 1; /* Ensure it's below the sidebar but above other content */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/*--------------------------------------------------------------
# Sidebar Styles
--------------------------------------------------------------*/

.sidebar {
  position: fixed;
  top: 0;
  left: 0; /* Changed from right to left */
  height: 100%;
  width: 80px;
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
  background: #161a2d;
  padding: 25px 20px;
  transition: all 0.4s ease;
}

.sidebar:hover {
  width: 280px;
}

.sidebar .sidebar-header {
  display: flex;
  align-items: center;
}

.sidebar .sidebar-header img {
  width: 42px;
  border-radius: 50%;
}

.sidebar .sidebar-header h2 {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  white-space: nowrap;
  margin-left: 19px;
}

.sidebar-links h4 {
  color: #fff;
  font-weight: 500;
  white-space: nowrap;
  margin: 10px 0;
  position: relative;
}

.sidebar-links h4 span {
  opacity: 0;
}

.sidebar:hover .sidebar-links h4 span {
  opacity: 1;
}

.sidebar-links .menu-separator {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
  transform: scaleX(1);
  transform: translateY(-50%);
  background: #4f52ba;
  transform-origin: right;
  transition-delay: 0.2s;
}

.sidebar:hover .sidebar-links .menu-separator {
  transition-delay: 0s;
  transform: scaleX(0);
}

.sidebar-links {
  list-style: none;
  margin-top: 20px;
  height: 80%;
  overflow-y: auto;
  scrollbar-width: none;
}

.sidebar-links::-webkit-scrollbar {
  display: none;
}

.sidebar-links li a {
  display: flex;
  align-items: center;
  gap: 0 20px;
  color: #fff;
  font-weight: 500;
  white-space: nowrap;
  padding: 15px 10px;
  text-decoration: none;
  transition: 0.2s ease;
}

.sidebar-links li a:hover {
  color: #161a2d;
  background: #fff;
  border-radius: 4px;
}

/*--------------------------------------------------------------
# Content Styles
--------------------------------------------------------------*/

.content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 100px; /* Adjust to avoid overlap with sidebar */
  margin-left: 85px; /* Adjust to account for sidebar width */
  transition: margin-left 0.4s ease; /* Smooth transition for margin */
}

.sidebar:hover + .content {
  margin-left: 260px; /* Adjust when sidebar is expanded */
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center; /* Center the buttons */
  gap: 20px;
}

/*--------------------------------------------------------------
# Footer Styles
--------------------------------------------------------------*/

.footer {
  background-color: #161a2d;
  color: white;
  padding: 20px;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.footer.visible {
  opacity: 1;
  visibility: visible;
}

/*--------------------------------------------------------------
# Slider Styles
--------------------------------------------------------------*/

.mdw-curved-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1 ; /* Push it below the nav bar */
  overflow: hidden;
}

.sidebar {
  z-index: 1;
}

[class^='mdw-curved-slider'] canvas {
  z-index: 1;
}

/*--------------------------------------------------------------
# Animation Styles
--------------------------------------------------------------*/

.slide-out {
  transition: transform 0.5s ease, opacity 0.5s ease;
  transform: translateX(100%);
}